* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    color: #d6d5d4;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.85);
}

#main-container {
    height: 100%;
    width: 100%;
    position: static;
    background-color: #260202;
}

#canvas-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border: 2px solid black;*/
}

canvas {
    border: 1px solid #f9f9f9;
    box-shadow: 0px 0px 25px 1px rgba(247,247,247,0.85);
}

button {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.2s ease-in;
    width: 150px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    box-shadow: 0px 0px 10px 2px rgba(247,247,247,0.85);
}

button:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

#array-generate:active {
    transform: scale(0.9);
}

#toggle-btn:active {
    transform: scale(0.9);
}

#array-generate {
    position: relative;
    top: 15px;
    left: 39%;
    letter-spacing: 0.5px;
}

#toggle-btn {
    position: relative;
    top: 15px;
    left: 41%;
    letter-spacing: 1px;
}

#para-copyright {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 18px;
    color: #f9f9f9;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.85);
}
